@charset  "utf-8";


* { 
    padding: 0px;
    margin: 0px;
}
html, body {
  background-color: white;
  color: black;
 
}

main {
  border: 5px solid white;
  
}
 

 h1 {
  text-align: center;
  font-weight: bold;
  padding:20px;
  font-size: 3em;
  border: 4px solid black;
  border-radius: 20px;
  background-color: #217373;
  color: white;
  margin: 8px  30px 2px 30px;
 }
 
 h2 {
   text-align:center;
   
  
 }

 h3 {
  text-align: center;
 }
 
 
  li > p {
  color:brown;
  font-family: Arial, Helvetica, sans-serif;
   font-weight:bold;
   text-align:center;
   padding: 10px 1px 1px 1px ;
   
 }

 div {
  text-align: left;
  border: 3px solid #3D3D3D;
  margin: 10px 100px;
  border-radius: 10px;
  list-style: none;
 }

 
 #co { 
  font-size: 1.5em;
  color: rgba(250, 128, 114, 0.692);
  background-color: #161f30bb;
 }



  
 
 
  
 